.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;

}

#trybewarts-header-title {
  color: white;
}

.form-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#family-tech-container {
	display: flex;
}

#family-container {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}

.tech-container {
	display: flex;
	flex-direction: column;
}

.tech-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tech-row label {
	flex-basis: 90px;
	align-self: flex-start;
}