.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

form {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

.div-form-img {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#div-label-family {
  display: flex;
  flex-direction: column;
}

#div-label-content {
  display: flex;
  flex-direction: column;
}
