* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.trybewarts-header-logo {
  justify-content: left;
  width: 80px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#login {
  margin-left: 20px;
}

